body {
   
    font-family: 'Work Sans', sans-serif;
    max-width: 1200px;
    margin: auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon-size{
    background-color: gainsboro;
    display: flex;
    align-items: center;
    padding:0px 5px;
    border-radius: 5px;
    margin-left: 5px;
}
.nav-icon-size img{
    width: 20px;
    height: 20px;
}


.nav-imag {
    display: flex;
    align-items: center;
}

.nav-imag>img {
    width: 45px;
    height: 25px;
}

.nav-imag h1 {
    font-size: 30px;
    font-weight: 700px;
}

.text-style {
    color: #ff42a5;
    padding-left: 5px;
}

.list-style>ul {
    display: flex;
    list-style-type: none;
}

.list-style li {
  
    font-size: 15px;
    font-weight: 500;
    padding-left: 20px;
}


.banner-container {
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.banner-container img {
    width: 100%;
    height: 100%;
}


.banner-img-size {
    width: 50%;
    height: auto;
}

.play-style {
    font-size: 24px;
    font-weight: 400px;
}

.banner-text h1 {
    background-image: linear-gradient(to bottom, #f948b2, #8758f1);
    color: transparent;
    -webkit-background-clip: text;

}

.btn-style {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    color: #ffff;

}

.btn-styleing {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    color: #ffff;
    background-color: #4ec5f7;
    margin-left: 10px;
}

.primary {
    background-color: #ff42a5;
}

.funny-video-section{
    margin-top: 20px;
}

.funny-video-heading{
    text-align: center;
    line-height: 0px;
}
.funny-video-heading h4{
  font-size: 18px;
  font-weight: 400px;
  line-height: 10px;
}

.funny-video-text{
    background-image: linear-gradient(to bottom, #f948b2, #8758f1);
    color: transparent;
    -webkit-background-clip: text;

}
.funny-video-image{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 20px;
    
}
.image-style:hover{
    border: 1px solid #f948b2;
    border-radius: 10px;
}
.funny-video-image img{
    width:80%;
    height: 75%;   
}


.headline-content{
    width: 45%;
    height: auto;
    text-align: end;
}
.download-section{
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.anniversery-text{
    background-image: linear-gradient(to bottom, #f948b2, #8758f1);
    color: transparent;
    -webkit-background-clip: text;  
}
.anniversery-image{
    display: flex;
    position: relative;
}
.download-image01-size{
    width: 400px;
   
}
.download-image02-size{
    width: 200px;
    position: absolute;
    margin-top: 200px;
    margin-left: -30px;
   
}

.main-container{
    height: 200px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    text-align: center;
    margin-top: 20px;

   
}

.main-image{
    display: flex;
    align-items: center;
    margin: auto;
    gap: 5px;
}
.main-image img{
    width: 30px;
    height: 30px;
}
.main-image:hover{
    border: 1px solid #ff42a5;
    color: #ff42a5;
    border-radius: 10px;
    padding: 5px;
    justify-content: center;
}


.footer-section{
    width: auto;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: #190505;
    color: #ffff;
    text-align: center;
    margin-top: 20px;
}


.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.footer-text-style{
    display: flex;
    justify-content: center;
    text-align: center;
}
.footer-text-style p{
  margin-left: 20px;

}
.footer-logo img{
    width: 45px;
    height: 25px;
}
.footer-logo h1{
    font-size: 30px;
    font-weight: 700px;
}
.footer-icon{
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 30px;
}
.footer-title{
    display: flex;
    justify-content: center;
    font-weight: 600;
    gap: 15px;
}
